<tr>
  <td><%= link_to trim(note.subject, 70), note, :class => "subject" %></td>
  <td>
    <% if note.importance && note.understanding %>
      <span class="urgency">
        <%= urgency(note.importance, note.understanding) %></h5>
      </span>
    <% end %>
  </td>
  <td>
    <% if note.technology %>   
      <%= link_to note.technology.name, 
              root_path(:technology => note.technology.id), 
              :method => :get,
              :class => "technology",
              :title => "More #{note.technology.name} Notes" %>
    <% end %>
  </td>
</tr>
