<li>
  <%= link_to note.subject, note, :class => "subject" %> 
    <% if note.technology %>
      <%= link_to note.technology.name, 
          technology_path(note.technology),
          :class => "technology" %>
    <% end %>
</li>
