<tr>
  <td><%= link_to trim(note.subject, 70), note, :class => "subject" %></td>
  <td>
    <% if note.mastery %>
      <h6 class="mastery" style="width:<%= mastery_bar_width_max(note) %>px;">
        <span class="mastery" style="width:<%= mastery_bar_width(note) %>px;">&nbsp;</span>
      </h6>
    <% end %>
  </td>
  <td>
    <% if note.technology %>   
      <%= link_to note.technology.name, 
              root_path(:technology => note.technology.id), 
              :method => :get,
              :class => "technology",
              :title => "More #{note.technology.name} Notes" %>
    <% end %>
  </td>
</tr>
