<h2>Welcome to CodeMap</h2>

<%= link_to "New Note", new_note_path %>

<ul>
  <% @notes.each do |note| %>
    <li><%= link_to note.subject, note %>&nbsp;
        <% for technology in note.technologies %>
          <span class="technology">| <%= technology.name %></span>
        <% end %>
    </li>
  <% end %>
</ul>
