body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 800px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  overflow: hidden;
  min-height: 400px;
  position: relative;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
menu {
  padding: 0 0 8px 0;
  margin-bottom: 6px;
  float: right;
}
  menu a {
    color: #777;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1px 5px;
  }
    menu a:hover {
      position: relative;
      top: 1px;
      background: #f0f0f0;
      border-top: 1px solid #f0f0f0;
    }

/* FOR AUTOCOMPLETE STUFF */
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

/* styling for the markdown box, @note.description */
.CodeRay {
  padding: 0 20px 0 0;
}
  .CodeRay .code {
    padding: 0 0 0 10px;
  }
pre {
  background: #f0f0f0;
}
.line-numbers { 
  background: #ebebeb;
}
  .line-numbers a {
    text-decoration: none;
    color: #b8c2d0; 
    padding: 0 8px;
    text-align: center;
  }
  .line-numbers pre {
    background: none;
  }
tr.code pre {
  background: #f0f0f0;
}
/* general page stuff */
#page {
  float: left;
  width: 500px;
  border-right: 1px solid #e1e1e1;
  padding-right: 30px;
}
#sidebar {
  float: right;
  width: 245px;
  padding-top: 10px;
}

/* show note styling */
.notes_list {
  width: 100%;
}
.note_subject {
  border-bottom: 1px solid #e1e1e1;
  padding: 0 0 10px 0;
  font-weight: bold;
  clear: both;
  margin-top: 0;
}

/* index styles */
.notes_list a {
  text-decoration: none;
}
.notes_list a.technology {
  font-size: 11px;
  background: #dbe3eb;
  color: #4b7399;
  display: block;
  text-align: center;
  width: 110px;
  line-height: 20px;
}
.note_description {
  
}
#sidebar .section {
  padding:4px 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px dotted #e1e1e1;
}
  #sidebar .section h5 {
    color: #777;
    margin:0 0 6px 0;
    font-weight: normal;
  }
  #sidebar .section p, #sidebar .section ul, #sidebar .section ol {
    font-size: 13px;
    line-height: 14px;
    color: #999;
    margin: 4px 0 4px 12px;
  }
  #sidebar .section a {
    color: #777;
  }
#form input,#form textarea {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 15px;
  line-height: 17px;
}
#form #note_subject {
  position: absolute;
  top: 60px;
  width: 500px;
}
#form #note_resources {
  position: absolute;
  right: 40px;
  width: 240px;
  top: 120px;
  font-size: 11px;
  line-height: 12px;
  height: 80px;
}
#form #note_description {
  width: 500px;
  height: 350px;
  margin:12px 0 20px 0;
  font-size: 14px;
  line-height: 15px;
}
#form #note_importance {
  position: absolute;
  right: 40px;
  top: 260px;
}
#form #note_understanding {
  position: absolute;
  right: 40px;
  top: 295px;
}
#form #note_technology_name {
  position: absolute;
  right: 40px;
  top: 220px;
  width: 246px;
  color: #666;
}
#form input[type=submit] {
  font-family: Verdana,Helvetica,Arial;
  font-size: 14px;
  margin-bottom: 40px;
}
#sidebar .radios span {
  padding: 4px 7px;
  border: 1px dotted #e1e1e1;
  position: relative;
  top: -3px;
  left: 2px;
  float: right;
  margin: 0 2px;
}
  #sidebar .section .importance_value, #sidebar .section .understanding_value {
    background: #e1e1e1;
  }
h6.mastery {
  margin: 0;
  padding: 0;
  display: block;
  background: #e1e1e1;
  width: 100px;
}
span.mastery {
  display: block;
  background: url('mastery-bg.jpg'); 
}