<h3>  <%= link_to "Home", notes_path %> > Technologies</h3>

<ul class="tech_list">
  <% @technologies.each do |technology| %>
    <li><%= link_to technology.name, technology %></li>
  <% end %>
</ul>
